
.nav-item{
  height:50px;
  width:50px;
  padding: 5px !important;
}

.pure-button{
  height:50px;
  width:50px;
  padding: 0px !important;
}

.filtericon{
  height:30px;
  width: 30px;
  margin:2px;
}
