
.active-source a{
      border: 2px solid rgb(255, 255, 255) !important;
      text-decoration: none;
}

.active-source a:hover{
      border: 2px solid rgb(140, 140, 140) !important;
      text-decoration: none;
}

.nav-item{
  height:50px;
  width:50px;
  padding: 5px !important;
  margin: 5px;
}

.pure-button{
  height:50px;
  width:50px;
  padding: 0px !important;
}

.filtericon{
  height:42px;
  width: 42px;
  margin:2px;
}
