
html{
  overflow-x: hidden;
}

/* Tooltip container */
.tooltip {
	display:none;
	position:absolute !important;
	border:1px solid #333 !important;
	background-color:#161616 !important;
	border-radius: 10px !important;
	padding:10px !important;
	color: rgb(255,255,255) !important;
	font-size:12px sans-serif ;
  z-index: 1000;
}

.active-source a{
      border: 2px solid rgb(255, 255, 255) !important;
      text-decoration: none;
}

.active-source a:hover{
      border: 2px solid rgb(140, 140, 140) !important;
      text-decoration: none;
}

@media (min-width: 48em) {
  .nav-item{
    margin-bottom: 15px !important;
  }
}

.nav-item{
  height:50px !important;
  min-width:50px !important;
  padding: 5px !important;
  margin: 5px;
}

.pure-button{
  height:46px !important;
  width:46px !important;
  display: table-cell !important;
  vertical-align: middle !important;
}

.post-header a{
  color: rgb(100,100,100) !important;
}


#config{
  height:50px !important;
  width: 50px !important;
}

.filtericon{
  height:42px;
  width: 42px;
  margin:2px;
}

.small-header{
  font-size: 1.4em !important;
}

.smaller-header{
  font-size: 1.1em !important;
}
